<template>
  <v-app>
      <v-bottom-nav
        :value="true"
        color="transparent"
      >
        <v-btn
          color="teal"
          flat
          :to="{ name: 'adminTask' }"
        >
          <span>Task</span>
          <v-icon>assignment</v-icon>
        </v-btn>

          <v-btn
            color="teal"
            flat
            :to="{ name: 'adminCategory' }"
          >
            <span>Category</span>
            <v-icon>category</v-icon>
          </v-btn>
      </v-bottom-nav>
      <router-view></router-view>
  </v-app>
</template>

<script>
  // import Category from './Category'
  // import Task from './Task'

  export default {
    name: 'admin',
    data () {
      return {
      }
    }
  }
</script>

<style scoped>

</style>
