<template>
  <v-container>
    <v-flex class="text-xs-right">
      <div>
        <v-dialog v-model="dialog" persistent max-width="500">
          <v-btn slot="activator" color="primary" dark>Новая категория</v-btn>
          <v-card>
            <v-card-title class="headline">{{formTitle}} <v-spacer></v-spacer> <v-icon @click="dialog = false">close</v-icon></v-card-title>
            
            <v-card-text>
              <v-flex xs12>                                
                <v-text-field
                    v-model="editedCategory.title"
                    label="Title"
                    required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>         
                <v-autocomplete
                  v-model="editedCategory.tasks"
                  :items="tasks"
                  item-text="title"
                  item-value="id"
                  chips
                  label="Tasks"
                  multiple
                ></v-autocomplete>
              </v-flex>
            </v-card-text>
            <v-card-actions>
              <v-btn color="red darken-1" flat @click="clear">Clear</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-flex>
     
    <v-card>
      <v-card-title>
        <h1>
          Categories
        </h1>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="categories"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.id }}</td>
          <td class="text-xs-left">{{ props.item.title }}</td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="openEditModal(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              @click="deleteСategory(props.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    name: 'category',
    data () {
      return {
        dialog: false,
        editedIndex: -1,
        editedCategory: {
          id: '',
          title: '',
          tasks: []
        },
        defaultItem: {
          id: '',
          title: '',
          tasks: []
        },
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'Title', value: 'title' },
          { text: 'Actions', value: 'name', align: 'center', sortable: false }
        ],
        currentUser: []
      }
    },
    created() {      
      if(this.$store.state.users.token) {
        this.currentUser = this.$store.state.users.user
    
        this.$store.dispatch('categories/initData', this.currentUser);
        this.$store.dispatch('tasks/initData', this.currentUser);
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Новая категории' : 'Редактирование категории'
      },
      categories() {
        return this.$store.getters['categories/getData']
      },
      tasks() {
        return this.$store.getters['tasks/getData']
      }
    },
    methods: {
      save () {
        // Проверяем create это или edit
        if (this.editedIndex > -1) {
            this.editСategory()
        } else {
            this.createСategory()
        }
        this.close()
      },
      openEditModal(item) {
        this.editedIndex = this.categories.indexOf(item)
        this.editedCategory = Object.assign({}, item)
        this.dialog  = true
      },
      createСategory() {
        this.$store.dispatch('categories/add', this.editedCategory)
      },
      editСategory() {
        this.$store.dispatch('categories/update', this.editedCategory)
      },
      deleteСategory(item) {
        this.$store.dispatch('categories/delete', item.id)
      },
      close () {
        this.dialog = false,
        this.editedCategory = {}
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      clear () {
        this.editedCategory.title = ''
        this.editedCategory.tasks = ''
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    }
  }
</script>

<style scoped>
.v-dialog {
    overflow-y: unset
}
</style>
