<template>
  <v-container>
    <v-flex class="text-xs-right">
      <div>
        <v-dialog v-model="dialog" max-width="800">
          <v-btn slot="activator" color="primary" dark>Новая задача</v-btn>
          <v-card>
            <v-card-title class="headline">{{formTitle}} <v-spacer></v-spacer> <v-icon @click="dialog = false">close</v-icon></v-card-title>
            
            <v-card-text>
              <v-flex xs12>
                <v-text-field
                    v-model="editedTask.title"
                    label="Title"
                    required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea
                label="Контент"
                v-model="editedTask.content"
                ></v-textarea>
              </v-flex>
              <v-flex xs12>
                <v-autocomplete
                  v-model="editedTask.categories"
                  :items="categories"
                  item-text="title"
                  item-value="id"
                  chips
                  label="Categories"
                  multiple
                ></v-autocomplete>
              </v-flex>
              
            </v-card-text>
            <v-card-actions>
              <v-btn color="red darken-1" flat @click="clear">Clear</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-flex>
     
    <v-card>
      <v-card-title>
        <h1>
          Tasks
        </h1>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="tasks"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.id }}</td>
          <td class="text-xs-left">{{ props.item.title }}</td>
          <td class="text-xs-left">
          <v-scroll-x-transition>
            <v-icon
              v-if="props.item.is_done"
              color="success"
            >
              check
            </v-icon>
          </v-scroll-x-transition>
          </td>
          <td class="text-xs-left">{{ props.item.content }}</td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="openEditModal(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              @click="deleteTask(props.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    name: 'task',
    data () {
      return {
        dialog: false,
        editedIndex: -1,
        editedTask: {
          id: '',
          title: '',
          is_done: 0,
          content: '',
          categories: []
        },
        defaultItem: {
          id: '',
          title: '',
          is_done: 0,
          content: '',
          categories: []
        },
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'Title', value: 'title' },
          { text: 'Is done', value: 'is_done' },
          { text: 'Content', value: 'content' },
          { text: 'Actions', value: 'name', align: 'center', sortable: false }
        ],
        currentUser: []
      }
    },
    created() {    
      if(this.$store.state.users.token) {
        this.currentUser = this.$store.state.users.user
    
        this.$store.dispatch('tasks/initData', this.currentUser);
        this.$store.dispatch('categories/initData', this.currentUser);
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Новая задача' : 'Редактирование задачи'
      },
      tasks() {
        return this.$store.getters['tasks/getData']
      },
      categories() {
        return this.$store.getters['categories/getData']
      }
    },
    methods: {
      save () {
        // Проверяем create это или edit
        if (this.editedIndex > -1) {
            this.editTask()
        } else {
            this.createTask()
        }
        this.close()
      },
      openEditModal(item) {
        this.editedIndex = this.tasks.indexOf(item)
        this.editedTask = Object.assign({}, item)
        this.dialog  = true
      },
      createTask() {
        this.$store.dispatch('tasks/add', this.editedTask)
      },
      editTask() {
        this.$store.dispatch('tasks/update', this.editedTask)
      },
      deleteTask(item) {
        this.$store.dispatch('tasks/delete', item.id)
      },
      close () {
        this.dialog = false,
        this.editedTask = {}
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      clear () {
        this.editedTask.title = ''
        this.editedTask.content = ''
        this.editedTask.categories = ''
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    }
  }
</script>

<style scoped>
.v-dialog {
    overflow-y: unset
}
</style>
