<template>
    <v-app>
        <v-layout>
            <v-navigation-drawer
            v-model="drawer"
            absolute
            temporary
            >
            <v-list class="pa-1">
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <img src="https://png.pngtree.com/svg/20161027/631929649c.svg">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{user.name}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

            <v-list class="pt-0" dense>
                <v-divider></v-divider>
                <v-list-tile to="/">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile :to="{ name: 'tasks' }">
                    <v-list-tile-action>
                        <v-icon>question_answer</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Tasks</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile :to="{ name: 'admin' }">
                    <v-list-tile-action>
                        <v-icon>fingerprint</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Admin</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            </v-navigation-drawer>
        </v-layout>
        <v-toolbar dense>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>todoListTest</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn @click="logout()">Logout</v-btn>
        </v-toolbar>

        <router-view></router-view>
    </v-app>
</template>

<script>
export default {
 data() {
  return {
    drawer: null,
    user: []
  }
 },
 created(){
    if(this.$store.state.users.token) {
        this.user = this.$store.state.users.user
    }
 },
 methods: {
    next () {
        const active = parseInt(this.active)
        this.active = (active < 2 ? active + 1 : 0)
    },
    logout() {
      this.$store.dispatch('users/logout')
    }
 }
}
</script>

<style scoped>

</style>
