<template>
  <v-app>
  <v-parallax
    dark
    src="http://www.euromig.com/wp-content/uploads/2018/12/%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5.jpg"
  >
    <v-layout
    align-center
    column
    justify-center
    style="text-shadow: 0 5px 15px rgba(0,0,0,1);"
    >
      <h1 class="display-2 font-weight-thin mb-3">Тестовое задание</h1>
      <h4 class="subheading">Ниже указаны технологии которые использовались в данном проекте</h4>
    </v-layout>
  </v-parallax>
   <v-timeline>
    <v-timeline-item
      v-for="(item, index) in items"
      :key="index"
      large
      color
    >
      <template v-slot:icon>
        <v-avatar>
          <img :src="item.url_img">
        </v-avatar>
      </template>
      <template v-slot:opposite>
        <span>{{index + 1}}</span>
      </template>
      <v-card class="elevation-2">
        <v-card-title class="headline">{{item.title}}</v-card-title>
        <v-card-text>
          {{item.content}}
        </v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
 </v-app>
</template>

<script>
export default {
 data() {
  return {
    items: [
      {
        title: 'HTML',
        content: `Основа любого веб сайта`,
        url_img: 'http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-html-5-icon.png'
      },
      {
        title: 'CSS',
        content: `Каскадная таблица стилей`,
        url_img: 'https://cdn.iconscout.com/icon/free/png-256/css-131-722685.png'
      },
      {
        title: 'Laravel',
        content: `Laravel — бесплатный веб-фреймворк с открытым кодом, предназначенный для разработки
        с использованием архитектурной модели MVC. Laravel выпущен под лицензией MIT. Исходный код проекта размещается на GitHub.`,
        url_img: 'https://weglot.com/wp-content/uploads/20181102121359/laravel-logo.png'
      },
      {
        title: 'Vue',
        content: `Vue.js — JavaScript-фреймворк с открытым исходным кодом для создания пользовательских интерфейсов. 
        Легко интегрируется в проекты с использованием других JavaScript-библиотек. Может функционировать как веб-фреймворк 
        для разработки одностраничных приложений в реактивном стиле.`,
        url_img: 'https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/001/036/square_256/vue.png'
      },
      {
        title: 'Vuetify',
        content: `What's the difference?
        There are plenty of UI toolkits to choose from, but what are your metrics for success? Vuetify is a fully featured
        development framework that provides you with everything you need to take any idea from conception to production.`,
        url_img: 'https://pbs.twimg.com/profile_images/900908683927982080/GWykKJ7r_400x400.jpg'
      },
      {
        title: 'Vuex',
        content: `В центре любого Vuex-приложения находится хранилище. «Хранилище» — это контейнер, в котором хранится состояние
        вашего приложения. Два момента отличают хранилище Vuex от простого глобального объекта:`,
        url_img: 'https://vuex.vuejs.org/ru/flow.png'
      }
    ]
  }
 }
}
</script>
