<template>
  <v-app>
    <div>
      <v-parallax
        dark
        src="https://uploads.hb.cldmail.ru/event/762/og_image/cb606cf45e6d5276cb9308cd00827067.jpg"
      >
        <v-layout
        align-center
        column
        justify-center
        style="text-shadow: 0 5px 15px rgba(0,0,0,1);"
        >
          <h1 class="display-2 font-weight-thin mb-3">Список задач</h1>
          <h4 class="subheading">Будьте максимально продуктивны</h4>
        </v-layout>
      </v-parallax>
    </div>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 v-if="loader">
                <v-progress-circular
                :size="500"
                :width="20"
                color="primary"
                indeterminate
                ></v-progress-circular>
            </v-flex>
            <v-container>
              <h2 class="display-1 success--text pl-3">
                Tasks:&nbsp;
                <v-fade-transition leave-absolute>
                  <span :key="`tasks-${tasks.length}`">
                    {{ tasks.length }}
                  </span>
                </v-fade-transition>
              </h2>

              <v-divider class="mt-3"></v-divider>

              <v-layout
                my-1
                align-center
              >
                <strong class="mx-3 info--text text--darken-3">
                  Remaining: {{ remainingTasks }}
                </strong>

                <v-divider vertical></v-divider>

                <strong class="mx-3 black--text">
                  Completed: {{ completedTasks }}
                </strong>

                <v-spacer></v-spacer>

                <v-progress-circular
                  :value="progress"
                  class="mr-2"
                ></v-progress-circular>
              </v-layout>

              <v-divider class="mb-3"></v-divider>
              <v-card v-if="tasks.length > 0">
                <v-slide-y-transition
                  class="py-0"
                  group
                  tag="v-list"
                >
                <template v-for="(task, i) in tasks">
                    <v-list-tile :key="`${i}`">
                      <v-list-tile-action
                        @click="done(task)" 
                      >
                        <v-checkbox
                          v-model="task.is_done"
                          color="info darken-3"
                        >
                          <template v-slot:label>
                            <div
                              :class="task.is_done && 'grey--text' || 'text--primary'"
                              class="ml-3"
                              v-text="task.title"
                            >
                            </div>
                          </template>
                        </v-checkbox>
                      </v-list-tile-action>

                      <v-spacer></v-spacer>
                      <v-scroll-x-transition>
                        <v-icon
                          v-if="task.is_done"
                          color="success"
                        >
                          check
                        </v-icon>
                      </v-scroll-x-transition>
                        <div v-for="(category, i) in task.categories" :key="i">
                          <v-chip>{{category.title}}</v-chip>
                        </div>

                      <v-icon
                        small
                        @click="deleteTask(task)"
                      >
                        delete
                      </v-icon>
                    </v-list-tile>
                  </template>
                </v-slide-y-transition>
              </v-card>
            </v-container>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'tasks',
  data() {
   return {
      dialog: false,
      loader: true,
      currentUser: []
    }
  },
  created() {
    if(this.$store.state.users.token) {
      this.currentUser = this.$store.state.users.user
  
      this.$store.dispatch('tasks/initData', this.currentUser);
    }
  },
  computed: {
    tasks() {
      this.loader = false
      return this.$store.getters['tasks/getData']
    },
    completedTasks () {
      return this.tasks.filter(task => task.is_done).length
    },
    progress () {
      return this.completedTasks / this.tasks.length * 100
    },
    remainingTasks () {
      return this.tasks.length - this.completedTasks
    }
  },
  methods: {
    createTask() {
      if (this.newTask.title != '') {
        this.$store.dispatch('tasks/add', this.newTask)
        this.dialog = false
      }
    },
    deleteTask(item) {
      this.$store.dispatch('tasks/delete', item.id)
    },
    done(item) {
      // условие ? значение1 : значение2
      item.is_done ? item.is_done = 1 : item.is_done = 0

      this.$store.dispatch('tasks/done', item.id)
    },
  }
}
</script>

<style>

</style>
